/* style.css */

body {
    font-family: Arial, sans-serif;
    background: url('../img/br.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #fff;
    color: #000;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 20px;
    margin: 4px 0;
}

.parent-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh - 40px); /* Full viewport height minus header and footer */
    overflow: hidden; /* Prevent scrolling */
}

.welcome {
    text-align: center;
    color: #fff;
}

.welcome .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.welcome .btn:hover {
    background-color: #4f3e29;
    color: #fff;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}