{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">

<div class="about-container" style="padding-top: 100px;">
    <div class="aboutTxt" style="height: 40px;">
        <h2>ABOUT US</h2>
    </div>

    <div class="ourImage">
        <img src="{{ url_for('static', filename='../static/img/herald.jpg') }}" alt="Herald">
        <img src="{{ url_for('static', filename='../static/img/jester.jpg') }}" alt="Penguin">
    </div>

    <div class="aboutSentence" style="height: 100px;">
        <p>We are Herald and Jester, a partner in this
            project about efficient vehicle traffic simulation
            made for the Software Engineering course.</p>
    </div>
</div>
{% endblock %}

