{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="login-container" style="top: 120px;">
    <form action="/signin" method="POST" id="loginForm">
        <div class="login-field" style="padding-bottom: 1px;">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required style="padding-bottom: 1px;">
        </div>
        <div class="login-field" style="padding-bottom: 1px;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required style="padding-bottom: 1px;">
        </div>
        <button class="signin-button" type="submit" id="signinButton" disabled>Sign in</button>
        <button class="signup-button" type="button" onclick="signup()">Sign up</button>
    </form>
</div>

<script src="{{ url_for('static', filename='../static/js/signin.js') }}"></script>
{% endblock %}