{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/css/signup.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="registration-form">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/signup" method="POST" style="padding-bottom: 40px;">
        <div class="form-icon" style="margin-bottom: 1px; height: 60px;">
            <span><i class="icon icon-user"></i></span>
        </div>

        <div class="form-group" style="padding-bottom: 1px; margin-bottom: 1px;">
            <input type="text" class="form-control item" id="fname" name="fname" placeholder="First Name" required>
        </div>

        <div class="form-group" style="margin-bottom: 1px; padding-top: 5px; padding-bottom: 1px;">
            <input type="text" class="form-control item" id="lname" name="lname" placeholder="Last Name" required>
        </div>

        <div class="form-group" style="margin-bottom: 1px; padding-top: 5px; padding-bottom: 1px; height: 48px;">
            <input type="email" class="form-control item" id="email" name="email" placeholder="Email Address" required style="margin-bottom: 5px;">
            <p style="font-size: 12px; margin-top: 5px; padding-left: 20px;"></p>
        </div>

        <div class="form-group" style="padding-top: 5px; margin-bottom: 1px; height: 52px; padding-bottom: 1px;">
            <input type="password" class="form-control item" id="password" name="password" placeholder="Password" required style="margin-bottom: 1px;">
            <p style="font-size: 12px; margin-top: 5px; padding-left: 20px;"></p>
        </div>

        <div class="form-group" style="margin-bottom: 1px; padding-top: 5px; padding-bottom: 1px; height: 52px;">
            <input type="password" class="form-control item" id="confirm-password" name="confirm_password" placeholder="Confirm Password" required style="margin-bottom: 1px;">
            <p id="password-match-message" style="font-size: 12px; margin-top: 5px; padding-left: 1px; color: red; display: none;">Passwords do not match</p>
        </div>

        <div class="form-group" style="margin-bottom: 1px; padding-top: 20px;">
            <button type="submit" class="btn btn-block submit">Submit</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='../static/js/signup.js') }}"></script>
{% endblock %}